<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hbteam.menuapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fidulis"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fidulis"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DrugInfo"
            android:label="Drug Info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SplashScreen" />
        <activity
            android:name=".Activity.About_Us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.PhotoFullPopupWindow" />
        <activity android:name=".Activity.Fullscreen" />
        <activity android:name=".Activity.Locateus" />
        <activity android:name=".Activity.MainActivity"></activity>
    </application>

</manifest>